body {
    margin: 0;
	font-family: Arial;
}
header {
    background-color: #ff6a17;
    height: 50px;
    text-align: center;
    padding: 80px;
    color: yellow;
	font-size: 50px;
}

nav {
    background-color: #ff9357;
    height: 60px;
}

a {
    padding: 8px;
    background-color: #cf4d04;
    color: white;
    font-size: 18px;
    margin-left: 80px;
	position: relative;
	top: 20px;
	text-decoration: none;
	font-weight: bold;
}

a {
    border: 6px solid yellow;
    border-radius: 4px;
	margin-left: 74px;
}

img {
    margin: auto;
    display:block;   
}

footer {
    background-color: #fc955b;
    height: 25px;
    padding: 25px;
    font-size: 20px;
    text-align: right;
}